*{box-sizing: border-box;}
body {
  background-color: whitesmoke;
  font-family: 'system-ui', sans-serif;
}
.content {
  margin: 10vh auto 0;
  max-width: 500px;
  background-color: white;
  box-shadow: 0 0 4px -2px black;
  border-radius: 4px;
  padding: 30px;
  overflow: hidden;
}
.stage-bar {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  overflow: hidden;
}
.stage-title {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  pointer-events: none;
}
.stage-title.active {
  border-color: #f77a52;
}
.center{
  min-height: 200px;
  overflow: hidden;
}
.row {
  margin: 15px 0;
  float: left;
  width: 100%;
  overflow: hidden;
}
.row:last-of-type {
  margin-bottom: 0;
}
.piece {
  float: left;
  padding-left: 8px;
  margin: 10px 0;
}
.piece:first-child{
  padding-left: 0;
}
label {
  float: left;
  margin-bottom: 8px;
}
input {
  width: 100%;
  font-size: 1rem;
  padding: 6px;
  border: 1px solid lightgray;
}
input:focus {
  outline: 0;
  border: 1px solid #999;
}
select {
  width: 100%;
  font-size: 1rem;
  border: 1px solid lightgray;
  background-color: white;
  height: 32px;
}
select:focus {
  outline: 0;
  border: 1px solid #999;
}
.btn{
  float: right;
  color: #888;
  background-color: #eee;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .15s;
}
.btn:hover{
  color: #777;
  background-color: #ddd;
}
.left {
  float: left;
}
.fade {
  opacity: .2;
  pointer-events: none;
}

/* Sizes */
.s70 {width: 70%}
.s30 {width: 30%}
